@font-face {
    font-family: "Halton-regular";
    src: url(/assets/Halton\ regular.otf) format("opentype");
}

@font-face {
    font-family: "Halton-italic";
    src: url(/assets/Halton\ italic.otf) format("opentype");
}

@font-face {
    font-family: "Halton-bold";
    src: url(/assets/Halton\ bold.otf) format("opentype");
}

:root {
    --nav-sizing: 30px;
    --bg: #272932;
    --text: #ecf8f8;
    --primary: #947eb0;
    --secondary: #519879;
    --accent: #fb8b24;
    --btn-radius: 2.5em;
    /* button border-radius */
    --sec-radius: .25em;
    /* sections and articles radius */
    --cap: capitalize;
    --fat: 800;
    /* font-weight */
    --chubby: 600;
    /* font-weight */

}

body {
    margin: 0;
    height: 100vh;
    background-color: #272932;
    color: var(--text);
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-areas: "nav main";
    grid-gap: 10px;
}

/* #region NAVIGATION BAR LEFT */
nav {
    padding: 1em;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    grid-area: nav;
}

ul li img {
    height: var(--nav-sizing);
    width: var(--nav-sizing);
}

ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-family: Halton-regular, serif;
    margin-left: .7em;
}

nav li {
    display: flex;
    align-items: center;
}

/* #endregion */

/* #region MAIN CONTENT */
main {
    padding: 15px;
    display: flex;
    align-items: center;
}

h1 {
    max-width: 20ch;
    font-family: halton-bold, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: var(fat);
    line-height: 1.2;
    margin-bottom: 1, 5rem;
}

p {
    max-width: 40ch;
    font-family: halton-regular, serif;
}

a.button {
    display: inline-block;
    padding: 16px 125px 16px 127px;
    border-radius: 30px;
    background: linear-gradient(88deg, #2E8B57 5.15%, rgba(68, 164, 110, 0.22) 93.78%);
    font-family: Genos;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-top: 8rem;
}

.img-home {
    width: 20em;
    height: 20em;
    float: right;
    margin-right: 12em;
    margin-top: -5em;
}

.homepage {
    flex-grow: 1;
    display: inline-block;
}

/* #endregion */

/* in construction */
/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--fat);
} */