@font-face {
    font-family: Halton-regular;
    src: url(assets/Halton-regular) format("opentype");
}

@font-face {
    font-family: Halton-italic;
    src: url(assets/Halton-italic) format("opentype");
}

@font-face {
    font-family: Halton-bold;
    src: url(assets/Halton-bold) format("opentype");
}

:root {
    --nav-sizing: 30px;
    --bg: #272932;
    --text: #ecf8f8;
    --primary: #947eb0;
    --secondary: #519879;
    --accent: #fb8b24;
    --btn-radius: 2.5em;
    /* button border-radius */
    --sec-radius: .25em;
    /* sections and articles radius */
    --cap: capitalize;
    --fat: 800;
    /* font-weight */
    --chubby: 600;
    /* font-weight */

}

body {
    height: 100vh;
    display: grid;
    background-color: #272932;
    color: var(--text);
    grid-template-columns: 2fr 6fr;
    grid-area:
        "nav main";
    grid-gap: 10px;
}

/* #region NAVIGATION BAR LEFT */
nav {
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: nav;
}

ul li img {
    height: var(--nav-sizing);
    width: var(--nav-sizing);
}

ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-family: 'Halton-regular', serif;
    margin-left: .7em;
}

nav li {
    display: flex;
    align-items: center;
}

/* #endregion */

h1 {
    grid-area: title;
}

p {
    grid-area: text;
}


main {
    grid-area: main;
}

main img {
    height: 300px;
    width: 300px;
    float: right;
}

/* not sure if this is the best way to do this */
/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--fat);
} */