@font-face {
    font-family: "Halton-regular";
    src: url(/assets/Halton\ regular.otf) format("opentype");
}

@font-face {
    font-family: "Halton-italic";
    src: url(/assets/Halton\ italic.otf) format("opentype");
}

@font-face {
    font-family: "Halton-bold";
    src: url(/assets/Halton\ bold.otf) format("opentype");
}

:root {
    --nav-sizing: 30px;
    --bgcolor: #272932;
    --textcolor: #ecf8f8;
    --primarycolor: #947eb0;
    --secondarycolor: #519879;
    --accentcolor: #fb8b24;
    --btn-radius: 2.5em;
    /* button border-radius */
    --sec-radius: .25em;
    /* sections and articles radius */
    --cap: capitalize;
    --fat: 800;
    /* font-weight */
    --chubby: 600;
    /* font-weight */

}

body {
    margin: 0;
    height: 100vh;
    background-color: #272932;
    color: var(--textcolor);
    display: flex;
}

.h1 {
    padding: 2em;
}

h1 {
    font-family: "Halton-bold";
    font-size: 3.5em;
    font-weight: var(--fat);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 8%;
}

small {
    font-family: "Halton-regular";
    font-size: 1em;
    font-weight: var(--chubby);
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

p {
    font-family: "Halton-italic";
    font-size: 1.8em;
    font-weight: var(--thin);
    text-align: center;
    margin: 0;
    padding: 2em 8em 2em 8em;

    & span {
        color: var(--secondarycolor);
    }
}

.h2 {
    padding: 2em;
}

h2 {
    font-family: "Halton-regular";
    font-size: 2.5em;
    font-weight: var(--chubby);
    margin: 0;
    padding: 1em;

    & span {
        color: var(--accentcolor)
    }
}

#card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.stakeholder-card {
    background-color: #D9D9D9;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16em;
    height: 28em;
    gap: 1.5em;
    border-radius: var(--sec-radius);

    & img {
        width: 150px;
        height: 150px;
        margin-top: .5em;
    }
}

h3 {
    font-family: "Halton-regular";
    font-size: 1em;
    color: black;
    font-weight: var(--chubby);
    margin: 0;
    padding: 0;
}

.item-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    height: 8em;
    padding: .5em 1.5em .5em 1.5em;

    & p {
        display: flex;
        font-family: "Halton-regular", serif;
        font-size: .4em;
        height: 3em;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: var(--chubby);
        margin: 0;
        padding: 0;
    }
}

.item__1 {
    height: 1.2em;
    width: 8em;
    background-color: var(--secondarycolor);
    border-radius: 20px;
}

.item__2 {
    height: 1.2em;
    width: 5em;
    background-color: var(--secondarycolor);
    border-radius: 20px;
}

.item__3 {
    height: 1.2em;
    width: 5em;
    background-color: var(--secondarycolor);
    border-radius: 20px;
}

.item__4 {
    height: 1.2em;
    width: 7em;
    background-color: var(--secondarycolor);
    border-radius: 20px;
}

button {
    background-color: var(--primarycolor);
    color: black;
    font-family: "Halton-italic, serif";
    font-weight: var(--thin);
    border-radius: var(--btn-radius);
    cursor: pointer;
    text-decoration: none;
    padding: .4em 4em;
    border-color: transparent;
}


a {
    color: #000;
    font-family: "Halton-regular";
    font-weight: var(--thin);
    background-color: var(--textcolor);
}

/* #region HEADER */

.header {
    background-color: var(--textcolor);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: absolute;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    /* #endregion */
}